function Main.main 5
push constant 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
push constant 256
push constant 0
push local 1
push local 2
call KnightGame.new 4
pop local 4
push local 4
call KnightGame.start 1
pop temp 0
push local 4
call KnightGame.dispose 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 82
eq
not
pop local 3
push local 1
push constant 1
add
pop local 1
push local 2
push constant 1
add
pop local 2
push local 1
push constant 7
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
label IF_FALSE0
push local 2
push constant 7
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 2
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
